@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0f1115] text-slate-200;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-md border border-white/10;
}

.glass-header {
  @apply bg-[#161a20]/80 backdrop-blur-lg border-b border-white/5;
}
